{% extends 'pet_vet/base.html' %}

{% block content %}
    <div class="row">

        <div class="col-lg-4">
            <h2>Усы, лапы и хвост</h2>
            <p>крупнейший ветеринарный центр в Казахстане</p>
            <p><strong>233 413+</strong> спасенных жизней за 10 лет работы</p>
            <p>ЦВМ оснащен лабораторией и оборудованием для быстрой диагностики и лечения животных.
                <strong>Полноценное обследование животного невозможно без лабораторных гематологических
                и биохимических анализаторов, рентгена, УЗИ, устройств функциональной диагностики.</strong></p>

            <ul>
                <li>Лучшие втеринарные врачи страны</li>
                <li>Сложнейшие операции</li>
                <li>Узкие специалисты</li>
                <li>Точная диагностика</li>
                <li>Собственная клинико-диагностическа лаборатория</li>
            </ul>
        </div>

        <div class="col-lg-4"></div>

    </div>

{% endblock %}