{% extends 'pet_vet/base.html' %}

{% block content %}

    <table class="service-cards">
        <tr>
            <th>
                <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
                  <div class="card-body">
                    <h4 class="card-title">Хирургия</h4>
                  </div>
                </div>
            <th>
            <th>
                <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
                  <div class="card-body">
                    <h4 class="card-title">Ортопедия</h4>
                  </div>
                </div>
            <th>
            <th>
                <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
                  <div class="card-body">
                    <h4 class="card-title">Эндохирургия</h4>
                  </div>
                </div>
            <th>
        </tr>
        <tr>
            <th>
                <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
                  <div class="card-body">
                    <h4 class="card-title">Чипирование</h4>
                  </div>
                </div>
            <th>
            <th>
                <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
                  <div class="card-body">
                    <h4 class="card-title">Стационар</h4>
                  </div>
                </div>
            <th>
            <th>
                <div class="card text-white bg-primary mb-3" style="max-width: 15rem;">
                  <div class="card-body">
                    <h4 class="card-title">Лаборатория</h4>
                  </div>
                </div>
            <th>
        </tr>

    </table>

{% endblock %}